  <div class="favorite-btn btn-border">
   <% if post_movie.favorited_by?(current_user) %>
    <span>
      <%= link_to post_movie_favorites_path(post_movie), method: :delete, remote: true do %>
        ♥<%= post_movie.favorites.count %> いいね
      <% end %>
    </span>
    <% else %>
    <span>
      <%= link_to post_movie_favorites_path(post_movie), method: :post, remote: true do %>
        ♡<%= post_movie.favorites.count %> いいね
      <% end %>
    </span>
   <% end %>
  </div>