.box14{
    padding: 0.2em 0.5em;
    margin: 2em 0;
    background: #ffffff;
    box-shadow: 0px 0px 0px 10px #ffffff;
    border: dashed 2px #f5deb3;
    text-align: center;
}
.box14 p {
    margin: 0; 
    padding: 0;
}

.box26 {
    position: relative;
    margin: 2em 0;
    padding: 0.5em 1em;
    border: solid 3px #f5deb3;
    border-radius: 8px;
}
.box26 .box-title {
    position: absolute;
    display: inline-block;
    top: -13px;
    left: 10px;
    padding: 0 9px;
    line-height: 1;
    font-size: 19px;
    background: #FFF;
    color: black;
    font-weight: bold;
}
.box26 review {
    margin: 0; 
    padding: 0;
}

.favorite-btn {
  font-size: 12px;
  font-weight: 400;
  line-height: 0.5;
  position: relative;
  display: inline-block;
  padding: 1rem 1rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

.btn-border {
  margin-bottom: 12px;
  padding: 4px;

  -webkit-transition: all 0.3s;

  transition: all 0.3s;

  border: 2px solid #000;
  background-image: -webkit-repeating-linear-gradient(
    135deg,
    #000,
    #000 1px,
    transparent 2px,
    transparent 5px
  );
  background-image: repeating-linear-gradient(
    -45deg,
    #000,
    #000 1px,
    transparent 2px,
    transparent 5px
  );
  background-size: 7px 7px;

  -webkit-backface-visibility: hidden;

  backface-visibility: hidden;
}

.btn-border span {
  position: relative;

  display: block;

  padding: 8px 8px;

  color: #000;
  border: 2px solid #000;
  border-radius: 0.5rem;
  background: #fff;
}

.btn-border:hover {
  margin: 4px 4px 12px;
  padding: 6px;
}

.balloon5 {
  width: 100%;
  margin: 1.5em 0;
  overflow: hidden;
}

.balloon5 .faceicon {
  float: left;
  margin-right: -90px;
  width: 80px;
}

.balloon5 .faceicon img{
  width: 100%;
  border: solid 3px #f5deb3;
  border-radius: 50%;
}

.balloon5 .chatting {
  width: 100%;
}

.says {
  display: inline-block;
  position: relative; 
  margin: 5px 0 0 105px;
  padding: 17px 13px;
  border-radius: 12px;
  background: #f5deb3;
}

.says:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 18px; 
  left: -24px;
  border: 12px solid transparent;
  border-right: 12px solid #f5deb3;
}

.says p {
  margin: 0;
  padding: 0;
}

.btn-flat-dashed-filled {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  color: #67c5ff;
  border: dashed 1px #67c5ff;
  background: #f2fcff;
  border-radius: 3px;
  transition: .4s;
}

.btn-flat-dashed-filled:hover {
  background: #cbedff;
  color: #FFF;
}


@media (max-width: 767px){
  .index-form{
        width: 100%!important;
  }
}
@media (max-width: 1279px) and (min-width: 768px){
  .index-form{
    width:50%!important;
  }
}

@media (min-width: 1280px){
  .index-form{
    width:25%!important;
   }
}

                                      